<!DOCTYPE html>
<html>
    <header>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="public/static/css/style.css">
    </header>
    <body>
        <div class="plan">
            <img src="public/static/hs3-widok-z-gory.png" alt="hs3-plan" style="width:1500px;">
            <div class="label" style="bottom:270px;left:330px">{{ termostat_warsztat }} °C</div>
            <div class="label" style="bottom:270px;left:600px">{{ termostat_cowork }} °C</div>
            <div class="label" style="bottom:290px;left:1090px">{{ people_hackerspace }}</div>
            <div class="label-below" style="bottom: 25px;left: 800px;">{{ report_date }}</div>
          </div>
    </body>
    
</html>