<!DOCTYPE html>
<html>
    <head>
        <title>HS3 Home Assistant</title>
        <link rel="stylesheet" href="public/static/css/style.css">
    </head>
    <body>
        <a href="https://hs3.pl">
            <img src="template\static\logo.png" class="logo">
        </a>
        <div class="plan">
            <img src="{{ plan }}" alt="hs3-plan" style="width:1500px;">
            {% for item in entities %}
                <div class="label" style="{{ item[0] }}">{{ item[1] }}</div>
            {% endfor %}
            <div class="label-below" style="bottom: 25px;left: 800px;">{{ report_date }}</div>
          </div>
    </body>
</html>