html,
body {
  height: 100%;
  overflow: hidden;
}

iframe {
  border: none;
}

.navbar {
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.img-btn {
  max-width: 70px;
}

.plan {
  position: absolute;
  text-align: center;
  font-family: Consolas, monospace;
  z-index: 0;
}

.label {
  position: absolute;
  font-size: 20px;
}

.label-below {
  position: absolute;
  color: white;
  font-size: 25px;
}

.logo {
  position: absolute;
  width: 100px;
  top: 15px;
  left: 15px;
  z-index: 1;
}